:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  /* min-width: mAX-content; */
}

/* overflow-x: hidden; */

#hero {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-image: url(image/geremi-logo-intertwining-black-and-blue-hues-throughout-the-text-name-geremi-in-bold-sans-serif-ty-927774892.jpeg);
  background-size: cover;
  background-position: center;
  /* object-fit: center; */
}

.header {
  overflow-x: hidden;

  /* position: fixed; */
  background-color: transparent;
  top: 0;
  font-size: 15px;
  left: 0;
  padding-bottom: 27px;
  width: 100%;
  z-index: 99;
  /* position: fixed; */
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.sticky {
  /* height: 100%; */
  height: 120px;
  position: fixed;
  background-color: black;
}

.sticky .nav__links {
  position: absolute;
  top: 0;
  /* z-index: 1000000; */
  right: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
.header .fa-bars {
  display: none;
  font-size: 26px;
  cursor: pointer;
  align-items: flex-end;
  z-index: 1000001;
  /* display: none; */
  color: aqua;
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: aqua;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  outline: aqua;
  box-shadow: aqua;
  text-shadow: aqua;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* animation: animate 1s ease-in-out infinite alternate; */
  text-transform: capitalize;
}

nav ul li a:hover {
  color: aqua;
  transition: 0.4s;
  outline: aqua;
  box-shadow: aqua;
  text-shadow: aqua;
  /* animation: animate 1s ease-in-out infinite alternate; */
}

/* @keyframes animate {
  from {
    text-shadow: 0 0 28px aqua;
  }
  to {
    text-shadow: 0 0 30px aqua, 0 0 10px aqua;
  }
} */

nav ul li a:active {
  color: aqua;
  text-decoration: underline;
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid aqua;
  border-radius: 30px;
  outline: none;
}

.newsletter form a:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  font-size: small;
  border-radius: 30px;
  background-color: aqua;
  text-decoration: none;
  color: rgb(10, 2, 2);
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  cursor: pointer;
  top: 6px;
  right: 6px;
}

.newsletter form a:last-child:hover {
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.highlight {
  position: relative;
  list-style: none;
  /* width: 100%; */
  right: 0;
  color: antiquewhite;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

#about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

#about img {
  object-fit: cover;
  height: auto;
  width: 450px;
}

.about-text {
  width: 550px;
  height: 500px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 29px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 48px;
  font-size: 28px;
  margin-bottom: 45px;
}

.about-text a {
  background-color: aqua;
  color: rgb(2, 1, 1);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  margin-top: 15px;
  font-size: small;
  padding: 7px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

#about a:hover {
  background-color: #f9004d;
  border: 2px solid #f9004d;
  cursor: pointer;
}
/* reveal section */
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.button {
  position: relative;
  width: 150px;
  top: 32px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #17795e;
  background-color: aqua;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  font-style: italic;
  font-weight: bolder;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #17795e;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}

.card i {
  font-size: 30px;
  display: block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  color: aqua;
}

.card i:hover {
  transform: scale(1.7);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.par p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.fa-html5 {
  /* align-items: center; */
  color: orangered;
  /* font-size: 12px; */
}

.fa-css3-alt {
  color: blue;
  font-size: 72px;
}
.hidden {
  visibility: hidden;
}
/* .modal {
  position: absolute;
  flex-direction: column;
  left: 40%;
  width: 200px;
  top: 5%;
  align-items: flex-end;
  height: 180px;
  font-size: 15px;
  z-index: 1000001;
  align-content: center;
  background-color: aqua;
  border-radius: 8px;
}
.modal .nav__links {
  color: #000;
  text-decoration: none;
}
.modal .nav__links:hover {
  color: #000;
} */
.fa-js {
  color: yellow;
  font-size: 72px;
  /* overflow: hidden; */
}

html {
  font-size: 62.5%;

  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  /* line-height: 1.9; */
  /* background-color: #f3f3f3; */
}
a {
  text-decoration: none;
}
/* GENERAL ELEMENTS */
.section {
  font-size: 62.5%;

  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  background-color: #101010;

  /* background-color: #000; */
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  position: relative;
  z-index: 1;
  background-color: transparent;
  margin: 0 auto 8rem auto;
}

.section__description {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #101010;
  color: var(--color-primary);
  /* margin-bottom: -15%; */
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;

  font-weight: 500;
}

.btn {
  display: relative;
  background-color: var(--color-primary);
  z-index: 10;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.operations {
  font-size: 62.5%;

  /* position: absolute; */
  max-width: 100rem;
  align-items: center;
  margin: 6rem auto 0 auto;
  padding: 6rem 0 1rem 3rem;
  /* margin-left: -20%; */
  border-radius: 32px;
  background-color: #191919;

  color: antiquewhite;
  /* background-color: #f3f3f3; */
  /* background-color: red; */
}

.operations__tab-container {
  font-size: 62.5%;
  max-width: 120rem;
  margin: auto auto 0 auto;
  padding: 6rem 0 1rem auto;
  height: 100px;
  top: 200%;
  bottom: -50%;
  overflow: hidden;
  background-color: #191919;
  display: flex;
  justify-content: center;
  max-width: 95rem;
}

.operations__tab {
  position: relative;
  font-size: 62.5%;
  bottom: -50%;
  height: 100px;
  max-height: 50px;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  z-index: 3;
  margin-right: 2.5rem;
  transform: translateY(-30%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;
  position: relative;
  z-index: 3;
  font-size: 82px;
  font-size: 1.7rem;
}

.operations__content p {
  font-size: 25px;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  /* column-gap: 3rem; */
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 3.25rem;
  font-weight: bold;
  font-style: oblique;
  align-self: center;
}

.operations__icon {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 12rem;
  padding-right: 10%;
  /* background-color: #000; */
  width: 9rem;
  /* border-radius: 50%; */
}
i {
  font-size: 77px;
}
.operations__icon svg {
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow: hidden; */
  padding: 0;
  height: 2.75rem;
  width: 2.75rem;
  /* padding: ; */
}

.operations__content p {
  grid-column: 2;
}

#contact {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contact p {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

#contact .button2 {
  background-color: aqua;
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 9px 12px;
  border-radius: 30px;
  animation: animate 1s ease-in-out infinite alternate;
  transition: 0.4s;
}

#contact .button2:hover {
  background-color: #f9004d;
  border: 2px solid #f9004d;
  cursor: pointer;
  animation: animate 1s ease-in-out infinite alternate;
}

@keyframes animate {
  from {
    text-shadow: 0 0 28px aqua;
  }
  to {
    text-shadow: 0 0 30px aqua, 0 0 10px aqua;
  }
}

footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
}

.social a {
  width: 44px;
  height: 44px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: aqua;
  border-radius: 50%;
  margin: 22px 10px;
  color: black;
  text-decoration: none;
}

.social i {
  overflow: hidden;
  font-size: 35px;

  /* height: 105px; */
  /* width: 105px; */
}

.social a:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* .swiper {
  background-color: #39b385;
} */
/* .-pagination {
  position: absolute;
  bottom: 0;
  bottom: 10%;
} */
/* section { */
/* background-color: #000; */
/* } */
.swiper-pagination {
  width: 2px;
  pointer-events: none;
}
.project {
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  background: #1e1e1e;
  color: #fff;
  padding: 2rem;
  font-size: 16px;
  max-width: 80%;
  position: relative;
  padding-top: 120px;
  /* max-height: fit-content; */
  /* margin: 2rem; */
  left: 10%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* background-color: #39b385; */
}

.project h2 {
  margin-bottom: 1rem;
  color: #ffcc70;
  align-self: center;
}
.oopImg {
  width: 92px;
  border-radius: 52px;
}

.asyncImg {
  width: 92px;
  border-radius: 12px;
}

.scopeImg {
  width: 120px;
  border-radius: 12px;
}
.project .btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  background: aqua;
  color: #101010;
  font-weight: 1000;
  font-size: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.project .btn:hover {
  background: #4f48d9;
}

.btn-secondary {
  background: #555;
}

.btn-secondary:hover {
  background: #333;
}
/* .project-img {
  object-fit: center;
  max-width: 100%;
} */
.map-img {
  object-fit: center;
  max-width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.highlights {
  display: inline;
  position: relative;
  list-style: none;
  /* top: 12px; */
  right: 0;
  line-height: 30px;
  /* bottom: -10px; */
}
.projectContent {
  display: flex;
  gap: 12px;
}
.swiper-slide p {
  position: relative;
  /* right: -130px; */
  top: 0;
  display: flex;
}
@media (min-width: 850px) {
  .project p {
    display: none;
  }
}
@media (max-width: 850px) {
  .container {
    width: 100%;
    padding: 5px;
  }
  .project-img {
    object-fit: center;
    max-width: 100%;
  }
  .highlights {
    display: none;
  }

  .header .fa-bars {
    display: initial;
  }
  .operations p {
    font-size: 19px;
  }
  .operations__tab {
    /* width: 112px; */
    padding: 30px;
  }
  .about-text p {
    /* position: absolute; */
    line-height: 30px;
    right: 150px;
    top: -10px;
    padding: -0%;
    font-size: 15px;
    height: 12px;
    /* background-color: #39b385; */
  }
  /* .start {
    position: absolute;
    bottom: 0;
  } */
  #contact p {
    font-size: 22px;
  }
  /* .main {
    /* background-color: #ddd; */

  #about img {
    position: relative;
    left: -10px;
    background-color: #000;

    object-fit: contain;
    max-height: 250px;
    max-width: 350px;

    /* object-fit: contain; */
    /* width: 300px; */
    /* height: 100px; */
  }
  .about-text h2 {
    font-size: 12px;
  }
  .nav__links {
    /* display: none; */
    position: absolute;
    top: -520px;
    left: 0px;
    height: 120px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #191919;
    row-gap: 1.4rem;
    padding: 5px;
    box-shadow: 4px 4px 0 4px rgb(14, 55, 54/15%);
    transition: 0.2s all linear;
    text-align: center;
    width: 80%;
    /* display: none; */
  }
  .nav__links a {
    color: #fcfc;
    /* border-bottom: 1px solid red; */
  }

  .nav__links a:hover {
    color: aqua;
  }
  .nav__links a::after {
    display: none;
  }

  .content h1 {
    font-size: 46px;
  }

  .content .newsletter {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .operations__tab {
    padding: 0;
  }
}
